/*Body Styles*/
body{
    font-family:sans-serif;
}
/*Div Styles*/
#container{
    width: 90%;
    overflow: visible;
    border: none;
    margin: auto;
	align-content: center;
}

#title{
    width: 100%;
    border: none;
    background-color: #B2E9E9;
    align-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: -2px 2px 2px #888888;
}

#leftInfo, #rightInfo{
    width: 48%;
    align-content: center;
    float: left;
    padding-left: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    background-color: #ffffff;
    overflow: visible;
    min-height: 150px;
   
}

#leftInfo{
    padding-right: 1%;
    border-right: 1px;
    border-color: #95989A;
    border-right-style: solid;
    
}

#rightInfo{
    padding-right: 0%;
}

.leftContent, .rightContent{
    width: 48%;
    border: none;
    align-content: center;
    float: left;
    padding: 1%;
    background-color: #ffffff;
    overflow: visible;
   
}

#queryNav{
    width: 99.6%;
    padding: 5px 0px;
    margin: auto;
    background-color: #fff;
    clear: both;
    border-radius: 8px 8px 0px 8px;
    align-content: center;
    align-items: center;
    text-align: center;
}

.leftContent{
    align-content: center;
    text-align: center;
    align-items: center;
    float: left;
}

.rightContent{
     background-color: #95989A;
     float: left;
    min-height: 400px;
}

#rightContent5, #rightContent6, #leftContent5, #leftContent6{
    width: 98%;
}

.code{
    width: 98%;
    background-color: #ffffff;
    margin: auto;
    padding: 1%;
    box-shadow: -2px 2px 4px #444;
}

#summary{
    width: 98%;
    padding: 1%;
    margin: auto;
    background-color: #231123;
    clear: both;
    border-radius: 0px 0px 30px 30px;
}



#leftContent1, #rightContent1{
    display: block;
}

#leftContent2, #rightContent2{
    display: block;
}
#leftContent3, #rightContent3{
    display: block;
}

#leftContent4, #rightContent4{
    display: block;
}
#leftContent5, #rightContent5{
    display: block;
}

#leftContent6, #rightContent6{
    display: block;
}
/*Button Styles*/
.query{
    width: 15%;
    background-color: #B2E9E9;
    border: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size:18;
    box-shadow: -2px 2px 2px #888888;
    
}

.query:hover{
    background-color: #7caaaa;
    box-shadow: -2px 4px 2px #555;
    transform: translateY(1px);
}

.query:active{
    transform: translateY(1px);
    box-shadow: -2px 4px 2px #555;
}



/*Font Styles*/
h1, h2{
    text-align: center;
    font-family: sans-serif;
}

h2{
    font-size: 18px;
}

h3, h4, h5, h6{
    font-family: sans-serif;
}

h5.dark{
    color: #fff;
    font-size: 16px;
    display: inline;
}

#summaryTxt{
    color: #fff;
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
}

p.dark{
    color: #fff;
    font-family: sans-serif;
}

.inline{
    display: inline;
}

.left-aligned{
    text-align: left;
}

a:link, a:active, a:visited{
    color: #000;
    text-decoration: none;
    
}

a:hover{
    color: #7caaaa;
    text-decoration: none;
}

.code p{
    color: #45b0d3;
    font-family:monospace;
}
